.idea/

# See https://www.atlassian.com/git/tutorials/saving-changes/gitignore
!.gitignore
.htaccess
env.php
debug/
export/
logs/*
!logs/readme.txt

resources/*
!resources/bootstrap-3.3.7-dist
resources/bootstrap-3.3.7-dist/*
!resources/bootstrap-3.3.7-dist/readme.txt

!resources/font-awesome
resources/font-awesome/*
!resources/font-awesome/5.0.8
resources/font-awesome/5.0.8/*
!resources/font-awesome/5.0.8/css
resources/font-awesome/5.0.8/css/*
!resources/font-awesome/5.0.8/css/fontawesome-all.min.css

!resources/jquery
resources/jquery/*
!resources/jquery/*.min.js

!resources/select2-4.0.6-rc.0
resources/select2-4.0.6-rc.0/*
!resources/select2-4.0.6-rc.0/dist
resources/select2-4.0.6-rc.0/dist/*
!resources/select2-4.0.6-rc.0/dist/readme.txt